{% load static %}

<section>
    <div class="container pt40 pb40" style="text-align: center;">
        <h2>
            <span style="font-weight: bolder;">Trusted by Innovative Companies</span>
        </h2>
        <p>Essid Solutions is a certified AWS Partner. We have certifications that qualify our
            skills, knowledge and expertise.
        </p>
        <ul class="brands">
            <li class="brands__item">
                <a href="#">
                    <img src="{% static 'img/essidsolutions.com_accenture.png' %}" alt="" />
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img src="{% static 'img/essidsolutions.com_altice.png' %}" alt="" />
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img src="{% static 'img/essidsolutions.com_huwaei.png' %}" alt="" />
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img src="{% static 'img/essidsolutions.com_nos.png' %}" alt="" />
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img src="{% static 'img/essidsolutions.com_vodafone.png' %}" alt="" />
                </a>
            </li>
            <li class="brands__item">
                <a href="#">
                    <img src="{% static 'img/essidsolutions.com_microsoft.png' %}" alt="" />
                </a>
            </li>
            
           
        </ul>
    </div>
</section>