<section class="pt40 pb40 text-center" style="background-color: #103654; color: white;">
  <p>
  </p>
  <div class="container s_allow_columns">
    <p>
    </p>
    <h2>
      <span style="font-weight: bolder;">Engagement models</span>
    </h2>
    <p>We deeply analyze your business needs and consult on the optimal engagement model for your software project.<br>
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 pt32 text-center o_colored_level pb0">
        <i class="fa-regular fa-list-check fa-2xl"></i>
        <p></p>
        <h3>Project-based<br></h3>
        <p>Perfectly fitted for short-time endeavors, fixed bid engagements presuppose a clear-cut project scope and
          detailed release roadmap, minimizing the risk of going beyond the budget.

        </p>
      </div>

      <div class="col-lg-4 pt32 text-center o_colored_level pb0">
        <i class="fa-regular fa-clock-rotate-left fa-2xl"></i>
        <p></p>
          <h3>Time and materials
          <p></p>
        </h3>
        <p>This model works best with high-level, loosely defined requirements. With T&M, you achieve maximum scope and
          budget flexibility while paying only for the resources used.

        </p>
      </div>
      <div class="col-lg-4 pt32 text-center o_colored_level pb0">
        <i class="fa-regular fa-user-plus fa-2xl"></i>
        <p></p>
        <h3>Team-based
         
        </h3>
        <p>Choose this model if you need a rapid ramp-up of your internal resources. This way, you can quickly bring in
          expert or highly specialized talent, while saving big on recruitment.

        </p>
      </div>
    </div>
  </div>
</section>