<section class="pb32 pt32" style="background-color: #103654; color: white;">
  <div class="container">
    <div class="row" >
      <div class="col-lg-8 offset-lg-2 pt24 pb24 o_colored_level" style="">
        <h2>
          <span style="font-weight: bolder;">Always First.</span>
        </h2>
        <p class="o_default_snippet_text">Be the first to find out all the latest news, products, and trends.
        </p>
        <div class="s_newsletter_subscribe_form js_subscribe" >
          <div class="input-group">
            <input type="email" name="email" class="js_subscribe_email form-control" placeholder="your email..."
              disabled="" />
            <span class="input-group-append">
              <a role="button" href="#"
                class="btn btn-primary js_subscribe_btn o_submit o_default_snippet_text d-none">Subscribe</a>
              <a role="button" href="#" class="btn btn-success js_subscribed_btn o_submit o_default_snippet_text"
                disabled="disabled">Thanks</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>