<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 pt32 ">
        <h3 style="font-weight: bolder;" >Healthcare
        </h3>
        <p>Our company offers custom software development services that help doctors distribute more personalized care
          to individuals and influence the lifestyle of entire communities. Oxagile has already built solutions used in
          practice management, patient engagement, rehabilitation, immunization, and more.
        </p>
      </div>
      <div class="col-lg-4 pt32  pb0">
        <h3 style="font-weight: bolder;">Fintech
        </h3>
        <p>Essid Solutions help companies boost operational efficiency and user retention via innovative FinTech
          solutions and mobile apps. Give your customers the five-star treatment they deserve by offering new types of
          online services underpinned by robust security.
        </p>
      </div>
      <div class="col-lg-4 pt32 ">
        <h3 style="font-weight: bolder;">eLearning
        </h3>
        <p>Essid Solutions has delivered dozens of educational technology projects to Fortune 500 companies as well as
          midsize businesses and start-ups around the world. Businesses rely on Oxagile to develop software for
          education and personnel training that provides universal availability and greater learning efficiency.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 pt32 ">
        <h3 style="font-weight: bolder;">Adtech
        </h3>
        <p>Adtech is the new black in the advertising industry, and our experts know how to use its benefits to your
          advantage. Use our custom software development expertise to unlock precise ad targeting, provide smart
          budgeting tools, and improve the yield of advertising campaigns.
        </p>
      </div>
      <div class="col-lg-4 pt32 ">

        <h3 style="font-weight: bolder;">Martech
        </h3>
        <p>Every product is in some way unique. Oxagile combines the latest of marketing technology with meticulous
          research to help clients step up the impact of their marketing campaigns, anticipate customer behavior, and
          reap bigger rewards.
        </p>
      </div>
      <div class="col-lg-4 pt32">

        <h3 style="font-weight: bolder;">Providing support

        </h3>
        <p>We care about the challenges your business faces and we want our solutions to bring you success. This is why
          our teams offer you expert support after product delivery and work with you to iron out any kinks that might
          come up during the integration stage.

        </p>
      </div>
    </div>
  </div>
</section>