
{% include "blocks/block_above_footer.html" %}

<footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
  <div id="footer" class="oe_structure oe_structure_solo" style="">
    <section class="s_text_block pt48" data-snippet="s_text_block" data-name="Text">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 pb24 o_colored_level" style="">
            <h4>
              <b>Designed</b>
              <br />
              <span style="font-weight: bolder;">for </span>
              <font style="font-weight: bolder;" class="text-o-color-1">Success</font>
            </h4>
          </div>
          <div class="col-lg-9 pb24 o_colored_level">
            <p class="lead">Our mission is to solve business problems around the globe for public and private
              organizations using AI and machine learning. We develop tailored solutions for our customers or offer
              them existing tools from our suite of developed products.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="s_text_block" data-snippet="s_text_block" data-name="Text" style="background-image: none;"
      data-original-title="" title="" aria-describedby="tooltip911835">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 pb24 o_colored_level">
            <ul class="pl-3 mb-0">
              <li data-original-title="" title="essidsolutions.com" aria-describedby="tooltip992569">
                <a href="/">Home</a>
              </li>
              <li data-original-title="" title="essidsolutions privacy policy" aria-describedby="tooltip682969">
                <a href="/contactus"></a>
                <a href="/privacy">Privacy</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 pb24 o_colored_level" style="">
            <ul class="list-unstyled mb-0">
              <li data-original-title="" title="" aria-describedby="tooltip600798">
                <i class="fa fa-phone fa-fw mr-2" data-original-title="" title=""
                  aria-describedby="tooltip251370"></i>
                <span class="o_force_ltr">
                  <a href="tel:+351927159955" data-original-title="essidsolutions phone" title="">+351927159955</a>
                </span>
              </li>
              <li data-original-title="" title="" aria-describedby="tooltip70482">
                <i class="fa fa-envelope fa-fw mr-2"></i>
                <span>
                  <a href="mailto:hi@essidsolutions.com" data-original-title="essidsolutions email"
                    title="essidsolutions email">hi@essidsolutions.com</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 pb24 o_colored_level" style="">
            <div class="s_share text-right no_icon_color" data-snippet="s_share" data-name="Social Media"
              data-original-title="" title="" aria-describedby="tooltip222524">
              <h5 class="s_share_title d-block">Join Us</h5>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fessidsolutions.com%2Fprivacy%23scrollTop%3D0"
                class="s_share_facebook" target="_blank" data-original-title="@essidsolutions Facebook"
                title="@essidsolutions Facebook">
                <i class="fa fa-1x fa-facebook m-1"></i>
              </a>
              <a href="https://twitter.com/intent/tweet?text=%20privacy%20%7C%20Essid%20Solutions%20&amp;url=https%3A%2F%2Fessidsolutions.com%2Fprivacy%23scrollTop%3D0"
                class="s_share_twitter" target="_blank" data-original-title="@essidsolutions Twitter"
                title="@essidsolutions Twitter">
                <i class="fa fa-1x fa-twitter m-1"></i>
              </a>
              <a href="/website/social/instagram" class="s_share_instagram" target="_blank"
                data-original-title="@essidsolutions Instagram" title="Instagram">
                <i class="fa m-1 fa-linkedin fa-1x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
    <div class="container py-3">
      <div class="row">
        <div class="col-sm text-center text-sm-left text-muted">
          <span class="o_footer_copyright_name mr-2">Copyright © Essid Solutions LDA</span>
        </div>
        <div class="col-sm text-center text-sm-right o_not_editable">
          <div class="o_brand_promotion">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>