  <!-- ======= Hero Section ======= -->
  <section id="headinglight" style="background-color: #103654 ;">
    <div class="container">
      <div class="row">
        <div class="col" >
          <h2 data-aos="fade-up" >Focus On What Matters</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis cum recusandae eum laboriosam voluptatem repudiandae odio, vel exercitationem officiis provident minima. </p>
          </blockquote>
          <div class="row">
            <div class="col">HELLO</div>
            <div class="col">HI</div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->