<header id="top" data-anchor="true" data-name="Header" >
  <nav data-name="Navbar" class="navbar navbar-expand-lg navbar-fixed-top" data-spy="affix" style="background-color: #103654; color: white;">
    <div id="top_menu_container" class="container justify-content-start justify-content-lg-between">
      <a href="/" class="navbar-brand logo mr-4">
        <span role="img" aria-label="Logo of Essid Solutions" title="Essid Solutions"><img
            src="https://essidsolutions.com/web/image/website/1/logo/Essid%20Solutions?unique=16d92d5" class="img img-fluid"
            alt="Essid Solutions" loading="lazy" /></span>
      </a>
      <div id="top_menu_collapse" class="collapse navbar-collapse order-last order-lg-0">
        <ul id="top_menu" class="nav navbar-nav flex-grow-1">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <span>Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">
              <span>About</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/products" class="nav-link">
              <span>Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/services" class="nav-link">
              <span>Services</span>
            </a>
          </li>
          <li class="nav-item">
            <a  href="/blog" class="nav-link ">
              <span>Blog</span>
            </a>
          </li>
          <li class="nav-item mx-lg-3 divider d-none"></li>
          <li class="o_wsale_my_cart align-self-md-start d-none nav-item mx-lg-3">
            <a href="/shop/cart" title="essidsolutions shop" class="nav-link">
              <i class="fa fa-shopping-cart"></i>
              <sup class="my_cart_quantity badge badge-primary" data-order-id="">0</sup>
            </a>
          </li>
          <li class="o_wsale_my_wish d-none nav-item mr-lg-3 o_wsale_my_wish_hide_empty">
            <a href="/shop/wishlist" class="nav-link">
              <i class="fa fa-1x fa-heart"></i>
              <sup class="my_wish_quantity o_animate_blink badge badge-primary">0</sup>
            </a>
          </li>
        </ul>
      </div>
      <div class="oe_structure oe_structure_solo ml-lg-4">
        <section class="s_text_block" data-snippet="s_text_block" data-name="Text">
          <div class="container">
            <a href="/contact" class="btn btn-primary btn_cta" title="contact essidsolutions">Contact</a>
          </div>
        </section>
      </div>
      <button type="button" data-toggle="collapse" data-target="#top_menu_collapse" class="navbar-toggler ml-auto">
        <span class="navbar-toggler-icon o_not_editable"></span>
      </button>
    </div>
  </nav>
</header>