{% load static %}
 <!-- Vendor JS Files -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'js/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'js/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'js/vendor/swiper/swiper-bundle.min.js' %}"></script>
