{% extends "base_frontend.html" %}
{% load static %}
{% block content %}
<section class="pt96 pb96 o_cc3" data-original-title="" title="">
    <div class="s_allow_columns container">
        <h1>
            Big on Data Science, Cyber Security, Software &amp; AI
            <br>
        </h1>
        <p class="lead" style="">Empowering Your Business With Data Science, Cyber Security, Software and AI Technology
        </p>
        <p style="" data-original-title="" title="" aria-describedby="tooltip896108">
            <a class="mb-2 btn btn-primary" href="/contact" data-original-title="contact essidsolutions"
                title="contact essidsolutions">Get a free consultation</a>
        </p>
    </div>
</section>



<section class="pt40 pb40" style="background-image: none;">
    <p>
    </p>
    <div class="s_allow_columns container">
        <p>
        </p>
        <h2>
            <span style="font-weight: bolder;">Big on Data Science, Cyber Security, Software &amp; AI&nbsp;company that
                <span class="text-o-color-1">delivers</span>
            </span>
        </h2>
        <p>We enable progressive businesses to transform, scale and gain competitive advantage, through the expert
            delivery of innovative, tailor-made software.</p>
    </div>
</section>



<section class="s_text_block o_cc o_cc3  pb0 pt0">
    <p>
    </p>
    <div class="s_allow_columns container">
        <p>
        </p>
        <div class="row">
            <p>
            </p>
            <div class="col-lg-12 o_colored_level" style="">
                <p>
                </p>
                <h2 style="">
                    <span style="font-weight: bolder;">Connecting business and technology
                    </span>
                </h2>
                <p style="">We help you harness the cutting edge of tech to boost operational efficiencies, ensure
                    faster time to value, and revolutionize customer care. Our service offering is built around helping
                    you launch and sustain your digital transformation long-term.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-stretch">
            <div class="s_col_no_bgcolor pt16 pb16 col-lg-6">
                <div class="card bg-white h-100">
                    <div class="card-body">
                        <h3 class="card-title">
                            <span style="font-weight: bolder;">Managed Software Engineering</span>
                        </h3>
                        <p class="card-text">Whether you need a product-minded agile squad or a dedicated program
                            management center, Essid Solutions&nbsp;can help. We drive excellence across the entire
                            value delivery chain through a predictable development lifecycle, flexible resource scaling,
                            and expert PMO governance.<br></p>
                    </div>
                </div>
            </div>
            <div class="s_col_no_bgcolor pt16 pb16 col-lg-6">
                <div class="card bg-white h-100">
                    <div class="card-body">
                        <h3 class="card-title">
                            <span style="font-weight: bolder;">Quality Assurance as a Service</span>
                            <br>
                        </h3>
                        <p class="card-text">Define and achieve your business-critical quality objectives with our
                            comprehensive QA services. From designing a tailored QA strategy to executing and automating
                            test activities, we enable you to release faster with no quality trade-offs.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section >
    <div ></div>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <div class="s_allow_columns container ">
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <h2 style="font-weight: bolder;">
            350+ clients across the globe
        </h2>
        <p>Our clients are global industry leaders — tech giants and digital businesses, broadcasters and telecoms, OTT
            vendors, B2B and B2C service providers, software product companies and many more.</p>
    </div>
    {% include "blocks/block_domain.html" %}

</section>







<section class="s_text_block pt40 pb40 o_colored_level o_cc o_cc3" data-snippet="s_text_block" data-name="Text"
    style="">
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <div class="s_allow_columns container">
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
        <h2>
            <span style="font-weight: bolder;">A truly <font class="text-o-color-1" style="">tailored</font> approach
            </span>
        </h2>
        <p>Staying on schedule, scaling the team, ensuring product quality — We&nbsp;helps you keep track of crucial
            details without losing sight of the bigger picture.</p>
    </div>
</section>
{%endblock%}