{% extends "base_frontend.html" %}
{% block content %}

<section class="  pt64 pb64"
   data-scroll-background-ratio="1" style="background-color: #103654; color: white;">
  <div class="container">
    <h1>Blog</h1>
    <p  >Empowering Your Business With Data Science, Cyber Security, Software and AI Technology</p>
  </div>
</section>


<section class="s_text_block pt40 pb40 o_colored_level" data-snippet="s_text_block" data-name="Text"
    style="background-image: none;">
    <p>
    </p>
    <div class="s_allow_columns container">
        <p>
        </p>
        <h2>
            <span style="font-weight: bolder;">Big on Data Science, Cyber Security, Software &amp; AI&nbsp;company that
                <span style="" class="text-o-color-1">delivers</span>
            </span>
        </h2>
        <p>We enable progressive businesses to transform, scale and gain competitive advantage, through the expert
            delivery of innovative, tailor-made software.<br></p>
    </div>
</section>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col">
            {% for post in product_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{%endblock%}